:root {
    --color1: #2C3333;
    --color2: #395B64;
    --color3: #A5C9CA;
    --color4: #E7F6F2;
  }
html {
    scroll-behavior: smooth;
    overflow-y: overlay;
    overflow: hidden;
    height: 100%;
}
body, *{
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-family: 'Roboto', sans-serif;
}
body {
    overflow: auto;
    height: 100%;
}
section {
    width: 100%;
}
section:nth-of-type(odd) {
    background-position: 0% 0%;
    background-color: var(--color4);
}
section:nth-of-type(even) {
    width: 100%;
    background-image: url(../img/Background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
}

/* -------------------------------------NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #395b64bb; /* color2 transparent */
    box-shadow: 0 0 15px #888888;
    border: 1px solid black;
    width: 90%;
    border-radius: 40px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 1%;
    padding: 10px;
    z-index: 2;
}
.logo{
    display: flex;
    align-items: center;
}
nav > .logo img {
    margin: 0 20px 0 20px;
    width: 50px;
    height: 40px;
    filter: brightness(.85);
}
nav > .logo h1 {
    color: var(--color4);
    font-size: 1.5rem;
    color: #ffce6d;
}
nav > .links > a {
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--color4);
    font-size: 1.5rem;
    font-family: VT323;
}
nav > .links > a:hover{
    text-shadow: 3px 3px 4px #ffce6d;
}
.links > .selected{
    text-shadow: 2px 2px 2px #ed5b2d,
                3px 3px 2px #ed5b2d,
                3px 3px 4px #ffce6d;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/Background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > h1 {
    font-family: VT323;
    color: var(--color4);
    font-size: 6.6em;
    text-shadow: 5px 5px #ed5b2d,
                7px 7px var(--color3);
}
header > h2 {
    font-family: VT323;
    color: #ffce6d;
    font-size: 3em;
    text-shadow: 2px 2px var(--color2),
                3px 3px var(--color3);
}


body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }


.social-logo {
    width: 25px;
    height: 25px;
}